footer {
  background-color: black;
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: white;
  font-size: 22px;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

footer h3 {
  color: white;
  font-size: 30px;
  /* font-size: 40px; */
  font-weight: 500;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}
